In [1574]:
import pandas as pd
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(1)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53

In [1575]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [1576]:
purchase_data.columns= ['Purchase ID', 'Players','Age','Gender','Item ID','Item Name','Price']

In [1577]:
purchase_data.head()

,Purchase ID,Players,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [1578]:
purchase_data = purchase_data.sort_values("Price", ascending=False)
dropped_df = purchase_data.drop_duplicates("Players").sort_index()

In [1579]:
dropped_df.head()

   Purchase ID        Players  Age Gender  Item ID          Item Name  Price
1            1    Lisovynya38   40   Male      143  Frenzied Scimitar   1.56
2            2     Ithergue48   24   Male       92       Final Critic   4.88
3            3  Chamassasya86   24   Male      100        Blindscythe   3.27
4            4      Iskosia90   23   Male      131               Fury   1.44
5            5        Yalae81   22   Male       81          Dreamkiss   3.61

In [1580]:
players = len(dropped_df['Players'])

In [1581]:
players

576

In [1582]:
total_playerDF = pd.DataFrame({"Total Players": [players]})

In [1583]:
total_playerDF.head()

   Total Players
0            576

In [1584]:
purchase_data = purchase_data.sort_values("Price", ascending=False)
dropped_itemdf = purchase_data.drop_duplicates("Item Name").sort_index()

In [1585]:
dropped_itemdf.head()

,Purchase ID,Players,Age,Gender,Item ID,Item Name,Price
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
23,23,Eyrian71,40,Male,151,Severance,3.40
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48

In [1586]:
unique_items=len(dropped_itemdf['Item Name'])

In [1587]:
average_price = purchase_data["Price"].mean(axis=0)

In [1588]:
average_price = float("{:.2f}".format(average_price))

In [1589]:
average_price = ("${}").format(average_price)

In [1590]:
total_revenue = purchase_data["Price"].sum(axis=0)

In [1591]:
total_revenue = ("${}").format(total_revenue)

In [1592]:
number_of_purchases = len(purchase_data['Players'])

In [1593]:
unique_items=len(dropped_itemdf['Item Name'])

In [1594]:
summary_data = {'Number of Unique Items':[unique_items],
                'Average Price' :[average_price],
                  'Number of Purchases' : [number_of_purchases],
                  'Total Revenue':[total_revenue]}
summary_dataDF = pd.DataFrame(summary_data)

In [1595]:
summary_dataDF.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [1596]:
count =dropped_df['Gender'].value_counts()

In [1597]:
count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [1598]:
list(dropped_df['Gender'].value_counts())

[484, 81, 11]

In [1599]:
female = list(dropped_df['Gender'].value_counts())[1]

In [1600]:
male = list(dropped_df['Gender'].value_counts())[0]

In [1601]:
other = list(dropped_df['Gender'].value_counts())[2]

In [1602]:
percentage_female = female/players*100

In [1603]:
percentage_female = float("{:.2f}".format(percentage_female))

In [1604]:
percentage_female = "{}%".format(percentage_female)

In [1605]:
percentage_male = male/players*100

In [1606]:
percentage_male = float("{:.2f}".format(percentage_male))

In [1607]:
percentage_male = "{}%".format(percentage_male)

In [1608]:
percentage_other =other/players*100

In [1609]:
percentage_other = float("{:.2f}".format(percentage_other))

In [1610]:
percentage_other = "{}%".format(percentage_other)

In [1611]:
gender_demographicsDF = pd.DataFrame({'Total Count' :count, "Percentage of Players" :[percentage_male,percentage_female,percentage_other]})

In [1612]:
gender_demographicsDF.head()

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [1613]:
otherDF = purchase_data[purchase_data.Gender=='Other / Non-Disclosed']

In [1614]:
other_purchase_count = len(otherDF)

In [1615]:
average_price_other = otherDF['Price'].mean(axis=0)

In [1616]:
total_purchase_other = otherDF["Price"].sum(axis=0)

In [1617]:
other_no_dupeDF = otherDF.drop_duplicates("Players").sort_index()

In [1618]:
players_other = len(otherDF.drop_duplicates("Players").sort_index())

In [1619]:
average_total_other = round((total_purchase_other/players_other),2)

In [1620]:
femaleDF = purchase_data[purchase_data.Gender=='Female']

In [1621]:
female_purchase_count = len(femaleDF)

In [1622]:
average_price_female = femaleDF['Price'].mean(axis=0)

In [1623]:
total_purchase_female = femaleDF["Price"].sum(axis=0)

In [1624]:
female_no_dupeDF = femaleDF.drop_duplicates("Players").sort_index()

In [1625]:
players_female = len(femaleDF.drop_duplicates("Players").sort_index())

In [1626]:
average_total_female = round((total_purchase_female/players_female),2)

In [1627]:
maleDF = purchase_data[purchase_data.Gender=='Male']

In [1628]:
male_purchase_count = len(maleDF)

In [1629]:
average_price_male = maleDF['Price'].mean(axis=0)

In [1630]:
total_purchase_male = maleDF["Price"].sum(axis=0)

In [1631]:
male_no_dupeDF = maleDF.drop_duplicates("Players").sort_index()

In [1632]:
total_purchase_male = maleDF["Price"].sum(axis=0)

In [1633]:
male_no_dupeDF = maleDF.drop_duplicates("Players").sort_index()

In [1634]:
players_male = len(maleDF.drop_duplicates("Players").sort_index())

In [1635]:
average_total_male = round((total_purchase_male/players_male),2)

In [1636]:
purchasing_analysis_genderDF = pd.DataFrame({'Purchase Count':[female_purchase_count, male_purchase_count, other_purchase_count],
                                      'Average Purchase Price':[average_price_female,average_price_male,average_price_other],
                                      'Total Purchase Value' : ['${:.2f}'.format(total_purchase_female),'${:,.2f}'.format(total_purchase_male),'${:.2f}'.format(total_purchase_other)],
                                      'Avg Total Purchase per Person' :['${}'.format(average_total_female),'${}'.format(average_total_male),'${}'.format(average_total_other)]},
                                      index = ["Female", "Male", "Other / Non-Disclosed"])

In [1637]:
purchasing_analysis_genderDF.index.name = 'Gender'

In [1638]:
purchasing_analysis_genderDF['Average Purchase Price'] = purchasing_analysis_genderDF['Average Purchase Price'].map("${:.2f}".format)

In [1639]:
purchasing_analysis_genderDF

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [1640]:
bins = [0,9,14,19,24,29,34,39,100]

In [1641]:
group_labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

In [1642]:
pd.cut(dropped_df["Age"], bins, labels=group_labels).head()

1      40+
2    20-24
3    20-24
4    20-24
5    20-24
Name: Age, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40+']

In [1643]:
dropped_df["Age Group"] = pd.cut(dropped_df["Age"], bins, labels=group_labels,include_lowest = True)

In [1644]:
dropped_df.head()

,Purchase ID,Players,Age,Gender,Item ID,Item Name,Price,Age Group
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24

In [1645]:
dropped_group = dropped_df.groupby("Age Group")

In [1646]:
age_count = dropped_group["Age"].count()

In [1647]:
age_count = age_count.rename('Total Count')

In [1648]:
percentage_of_players = dropped_group["Age"].count()/576*100

In [1649]:
percentage_of_players = percentage_of_players.rename("Percentage of Players")

In [1650]:
age_statDF = pd.DataFrame({'Total Count':age_count, 'Percentage of Players':percentage_of_players})

In [1651]:
age_statDF['Percentage of Players'] = age_statDF['Percentage of Players'].map('{:.2f}'.format )

In [1652]:
age_statDF['Percentage of Players'] = age_statDF['Percentage of Players'].map('{}%'.format )

In [1653]:

age_statDF.index.name=None

In [1654]:
age_statDF

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [1655]:
pd.cut(purchase_data["Age"], bins, labels=group_labels).head()

554    20-24
189    20-24
110    25-29
116    20-24
231    25-29
Name: Age, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40+']

In [1656]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels,include_lowest = True)

In [1657]:
purchase_data.head()

,Purchase ID,Players,Age,Gender,Item ID,Item Name,Price,Age Group
554,554,Dyally87,22,Male,63,Stormfury Mace,4.99,20-24
189,189,Hiasri33,23,Male,63,Stormfury Mace,4.99,20-24
110,110,Ririp86,25,Male,139,"Mercy, Katana of Dismay",4.94,25-29
116,116,Lassilsala30,21,Male,139,"Mercy, Katana of Dismay",4.94,20-24
231,231,Yarithsurgue62,26,Male,139,"Mercy, Katana of Dismay",4.94,25-29

In [1658]:
purchasing_group = purchase_data.groupby("Age Group")

In [1659]:
purchase_count1 = purchasing_group["Players"].count()

In [1660]:
average_purchase_price1 = purchasing_group["Price"].sum()/purchase_count1

In [1661]:
total_purchase_value1 = round(purchasing_group["Price"].sum(),2)

In [1662]:
avg_total = total_purchase_value1/age_count

In [1663]:
purchasing_analysisDF = pd.DataFrame({'Purchase Count':purchase_count1, 'Average Purchase Price':average_purchase_price1,\
                                     'Total Purchase Value':total_purchase_value1, 'Avg Total Purhase per Person':avg_total})

In [1664]:
purchasing_analysisDF['Average Purchase Price'] = purchasing_analysisDF['Average Purchase Price'].map('{:.2f}'.format )

In [1665]:
purchasing_analysisDF['Average Purchase Price'] = purchasing_analysisDF['Average Purchase Price'].map('${}'.format )

In [1666]:
purchasing_analysisDF['Total Purchase Value'] = purchasing_analysisDF['Total Purchase Value'].map('${}'.format )

In [1667]:
purchasing_analysisDF['Avg Total Purhase per Person'] = purchasing_analysisDF['Avg Total Purhase per Person'].map('{:.2f}'.format )

In [1668]:
purchasing_analysisDF['Avg Total Purhase per Person'] = purchasing_analysisDF['Avg Total Purhase per Person'].map('${}'.format )

In [1669]:
purchasing_analysisDF

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purhase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.0,$3.81
30-34,73,$2.93,$214.0,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [1670]:
purchase_data

,Purchase ID,Players,Age,Gender,Item ID,Item Name,Price,Age Group
554,554,Dyally87,22,Male,63,Stormfury Mace,4.99,20-24
189,189,Hiasri33,23,Male,63,Stormfury Mace,4.99,20-24
110,110,Ririp86,25,Male,139,"Mercy, Katana of Dismay",4.94,25-29
116,116,Lassilsala30,21,Male,139,"Mercy, Katana of Dismay",4.94,20-24
231,231,Yarithsurgue62,26,Male,139,"Mercy, Katana of Dismay",4.94,25-29
...,...,...,...,...,...,...,...,...
586,586,Chanirra79,23,Female,155,War-Forged Gold Deflector,1.01,20-24
282,282,Aidai61,21,Male,155,War-Forged Gold Deflector,1.01,20-24
371,371,Eusurdeu49,23,Male,155,War-Forged Gold Deflector,1.01,20-24
63,63,Alo38,20,Male,125,Whistling Mithril Warblade,1.00,20-24
418,418,Marim28,25,Female,125,Whistling Mithril Warblade,1.00,25-29

In [1671]:
purchase_data.drop('Age',axis='columns', inplace=True)

In [1672]:
purchase_data.drop('Gender',axis='columns', inplace=True)

In [1673]:
purchase_data.drop('Age Group',axis='columns', inplace=True)

In [1674]:
purchase_data['Total Purchase Value'] = purchase_data['Price']

In [1675]:
purchase_data

,Purchase ID,Players,Item ID,Item Name,Price,Total Purchase Value
554,554,Dyally87,63,Stormfury Mace,4.99,4.99
189,189,Hiasri33,63,Stormfury Mace,4.99,4.99
110,110,Ririp86,139,"Mercy, Katana of Dismay",4.94,4.94
116,116,Lassilsala30,139,"Mercy, Katana of Dismay",4.94,4.94
231,231,Yarithsurgue62,139,"Mercy, Katana of Dismay",4.94,4.94
...,...,...,...,...,...,...
586,586,Chanirra79,155,War-Forged Gold Deflector,1.01,1.01
282,282,Aidai61,155,War-Forged Gold Deflector,1.01,1.01
371,371,Eusurdeu49,155,War-Forged Gold Deflector,1.01,1.01
63,63,Alo38,125,Whistling Mithril Warblade,1.00,1.00
418,418,Marim28,125,Whistling Mithril Warblade,1.00,1.00

In [1676]:
grouped_playersDF = purchase_data.groupby(["Players"])

In [1677]:
grouped_playersDF['Total Purchase Value'].describe()

               count      mean       std   min     25%    50%     75%   max
Players
Adairialis76     1.0  2.280000       NaN  2.28  2.2800  2.280  2.2800  2.28
Adastirin33      1.0  4.480000       NaN  4.48  4.4800  4.480  4.4800  4.48
Aeda94           1.0  4.910000       NaN  4.91  4.9100  4.910  4.9100  4.91
Aela59           1.0  4.320000       NaN  4.32  4.3200  4.320  4.3200  4.32
Aelaria33        1.0  1.790000       NaN  1.79  1.7900  1.790  1.7900  1.79
...              ...       ...       ...   ...     ...    ...     ...   ...
Yathecal82       3.0  2.073333  0.301717  1.87  1.9000  1.930  2.1750  2.42
Yathedeu43       2.0  3.010000  1.046518  2.27  2.6400  3.010  3.3800  3.75
Yoishirrala98    1.0  4.580000       NaN  4.58  4.5800  4.580  4.5800  4.58
Zhisrisu83       2.0  3.945000  0.572756  3.54  3.7425  3.945  4.1475  4.35
Zontibe81        3.0  2.676667  1.029191  1.76  2.1200  2.480  3.1350  3.79

[576 rows x 8 columns]

In [1678]:
grouped_playersDF.describe().loc[:,(slice(None),['count','mean'])]

              Purchase ID             Item ID             Price            \
                    count        mean   count        mean count      mean
Players
Adairialis76          1.0  467.000000     1.0  123.000000   1.0  2.280000
Adastirin33           1.0  142.000000     1.0  175.000000   1.0  4.480000
Aeda94                1.0  388.000000     1.0  128.000000   1.0  4.910000
Aela59                1.0   28.000000     1.0  119.000000   1.0  4.320000
Aelaria33             1.0  630.000000     1.0  171.000000   1.0  1.790000
...                   ...         ...     ...         ...   ...       ...
Yathecal82            3.0  466.666667     3.0   80.333333   3.0  2.073333
Yathedeu43            2.0  344.000000     2.0   71.500000   2.0  3.010000
Yoishirrala98         1.0  572.000000     1.0  145.000000   1.0  4.580000
Zhisrisu83            2.0   97.500000     2.0   42.500000   2.0  3.945000
Zontibe81             3.0  339.666667     3.0   82.333333   3.0  2.676667

              Total Purchase Value
                             count      mean
Players
Adairialis76                   1.0  2.280000
Adastirin33                    1.0  4.480000
Aeda94                         1.0  4.910000
Aela59                         1.0  4.320000
Aelaria33                      1.0  1.790000
...                            ...       ...
Yathecal82                     3.0  2.073333
Yathedeu43                     2.0  3.010000
Yoishirrala98                  1.0  4.580000
Zhisrisu83                     2.0  3.945000
Zontibe81                      3.0  2.676667

[576 rows x 8 columns]

In [1679]:
purchase_countDF =grouped_playersDF['Purchase ID'].describe().loc[:,['count']]

In [1680]:
purchase_countDF = purchase_countDF.astype(int)

In [1681]:
average_purchase_priceDF=grouped_playersDF['Price'].describe().loc[:,['mean']]

In [1682]:
total_purchase_valueDF = grouped_playersDF['Total Purchase Value'].describe().loc[:,['mean']]

In [1683]:
top_spenderDF = pd.merge(purchase_countDF,average_purchase_priceDF, on = "Players", how='outer')

In [1684]:
top_spenderDF=pd.merge(top_spenderDF,total_purchase_valueDF, on = "Players", how='outer')

In [1685]:
top_spenderDF

               count    mean_x    mean_y
Players
Adairialis76       1  2.280000  2.280000
Adastirin33        1  4.480000  4.480000
Aeda94             1  4.910000  4.910000
Aela59             1  4.320000  4.320000
Aelaria33          1  1.790000  1.790000
...              ...       ...       ...
Yathecal82         3  2.073333  2.073333
Yathedeu43         2  3.010000  3.010000
Yoishirrala98      1  4.580000  4.580000
Zhisrisu83         2  3.945000  3.945000
Zontibe81          3  2.676667  2.676667

[576 rows x 3 columns]

In [1686]:
top_spenderDF = top_spenderDF.rename(columns={"count": "Purchase Count", "mean_x": "Average Purchase Price",'mean_y':'Total Purchase Value'})

In [1720]:
top_spenderDF.head(5)

             Purchase Count Average Purchase Price  Total Purchase Value
Players
Lisosia93                 5                  $3.79                 18.96
Idastidru52               4                  $3.86                 15.45
Chamjask73                3                  $4.61                 13.83
Iral74                    4                  $3.41                 13.62
Iskadarya95               3                  $4.37                 13.10

In [1688]:
top_spenderDF['Total Purchase Value'] = top_spenderDF['Purchase Count']*top_spenderDF['Average Purchase Price']

In [1689]:
top_spenderDF['Total Purchase Value']=top_spenderDF['Total Purchase Value'].astype(float)

In [1690]:
top_spenderDF['Average Purchase Price'] = top_spenderDF['Average Purchase Price'].map('{:.2f}'.format)

In [1691]:
top_spenderDF['Average Purchase Price'] = top_spenderDF['Average Purchase Price'].map('${}'.format)

In [1692]:
top_spenderDF = top_spenderDF.sort_values(["Total Purchase Value"], ascending=False)

In [1693]:
top_spenderDF.head()

             Purchase Count Average Purchase Price  Total Purchase Value
Players
Lisosia93                 5                  $3.79                 18.96
Idastidru52               4                  $3.86                 15.45
Chamjask73                3                  $4.61                 13.83
Iral74                    4                  $3.41                 13.62
Iskadarya95               3                  $4.37                 13.10

In [1694]:
grouped_items1DF = purchase_data.groupby(["Item ID","Item Name"])

In [1695]:
grouped_items1DF.describe().loc[:,(slice(None),['count','mean'])]

                                                     Purchase ID              \
                                                           count        mean
Item ID Item Name
0       Splinter                                             4.0  287.250000
1       Crucifer                                             4.0  380.750000
2       Verdict                                              6.0  334.333333
3       Phantomlight                                         6.0  347.833333
4       Bloodlord's Fetish                                   5.0  377.000000
...                                                          ...         ...
178     Oathbreaker, Last Hope of the Breaking Storm        12.0  413.333333
179     Wolf, Promise of the Moonwalker                      6.0  324.666667
181     Reaper's Toll                                        5.0  255.600000
182     Toothpick                                            3.0  442.333333
183     Dragon's Greatsword                                  3.0  496.000000

                                                     Price          \
                                                     count    mean
Item ID Item Name
0       Splinter                                       4.0  1.2800
1       Crucifer                                       4.0  2.9425
2       Verdict                                        6.0  2.4800
3       Phantomlight                                   6.0  2.4900
4       Bloodlord's Fetish                             5.0  1.7000
...                                                    ...     ...
178     Oathbreaker, Last Hope of the Breaking Storm  12.0  4.2300
179     Wolf, Promise of the Moonwalker                6.0  4.4800
181     Reaper's Toll                                  5.0  1.6600
182     Toothpick                                      3.0  4.0300
183     Dragon's Greatsword                            3.0  1.0900

                                                     Total Purchase Value  \
                                                                    count
Item ID Item Name
0       Splinter                                                      4.0
1       Crucifer                                                      4.0
2       Verdict                                                       6.0
3       Phantomlight                                                  6.0
4       Bloodlord's Fetish                                            5.0
...                                                                   ...
178     Oathbreaker, Last Hope of the Breaking Storm                 12.0
179     Wolf, Promise of the Moonwalker                               6.0
181     Reaper's Toll                                                 5.0
182     Toothpick                                                     3.0
183     Dragon's Greatsword                                           3.0


                                                        mean
Item ID Item Name
0       Splinter                                      1.2800
1       Crucifer                                      2.9425
2       Verdict                                       2.4800
3       Phantomlight                                  2.4900
4       Bloodlord's Fetish                            1.7000
...                                                      ...
178     Oathbreaker, Last Hope of the Breaking Storm  4.2300
179     Wolf, Promise of the Moonwalker               4.4800
181     Reaper's Toll                                 1.6600
182     Toothpick                                     4.0300
183     Dragon's Greatsword                           1.0900

[179 rows x 6 columns]

In [1696]:
purchase_idDF = grouped_items1DF['Purchase ID'].describe().loc[:,['count']]

In [1697]:
price1DF = grouped_items1DF['Price'].describe().loc[:,['mean']]

In [1698]:
total_purchase_value1DF = grouped_items1DF['Total Purchase Value'].describe().loc[:,['mean']]

In [1699]:
most_popular_itemDF = purchase_idDF.merge(price1DF,left_on = ['Item ID','Item Name'], right_on = ['Item ID','Item Name'],how='left')

In [1700]:
most_popular_item1DF = most_popular_itemDF.merge(total_purchase_value1DF,left_on = ['Item ID','Item Name'], right_on = ['Item ID','Item Name'],how='left')

In [1701]:
most_popular_item1DF

                                                      count  mean_x  mean_y
Item ID Item Name
0       Splinter                                        4.0  1.2800  1.2800
1       Crucifer                                        4.0  2.9425  2.9425
2       Verdict                                         6.0  2.4800  2.4800
3       Phantomlight                                    6.0  2.4900  2.4900
4       Bloodlord's Fetish                              5.0  1.7000  1.7000
...                                                     ...     ...     ...
178     Oathbreaker, Last Hope of the Breaking Storm   12.0  4.2300  4.2300
179     Wolf, Promise of the Moonwalker                 6.0  4.4800  4.4800
181     Reaper's Toll                                   5.0  1.6600  1.6600
182     Toothpick                                       3.0  4.0300  4.0300
183     Dragon's Greatsword                             3.0  1.0900  1.0900

[179 rows x 3 columns]

In [1702]:
most_popular_item1DF = most_popular_item1DF.rename(columns={"count": "Purchase Count", "mean_x": "Item Price",'mean_y':'Total Purchase Value'})

In [1703]:
most_popular_item1DF['Total Purchase Value'] = most_popular_item1DF['Item Price']*most_popular_item1DF['Purchase Count']

In [1704]:
most_popular_item1DF['Total Purchase Value'] = most_popular_item1DF['Total Purchase Value'].map('{:.2f}'.format )

In [1718]:
most_popular_item1DF.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
145,Fiery Glass Crusader,9,$4.58,41.22
132,Persuasion,9,$3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,31.77

In [1706]:
most_popular_item1DF = most_popular_item1DF.sort_values(["Purchase Count"], ascending=False)

In [1707]:
most_popular_item1DF['Purchase Count']=most_popular_item1DF['Purchase Count'].astype(int)

In [1708]:
most_popular_item1DF['Item Price']=most_popular_item1DF['Item Price'].astype(float)

In [1709]:
most_popular_item1DF['Item Price']=most_popular_item1DF['Item Price'].map('{:.2f}'.format )

In [1710]:
most_popular_item1DF['Item Price']=most_popular_item1DF['Item Price'].map('${}'.format )

In [1711]:
most_popular_item1DF['Total Purchase Value']=most_popular_item1DF['Total Purchase Value'].astype(float)

In [1714]:
most_popular_item1DF.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
145,Fiery Glass Crusader,9,$4.58,41.22
132,Persuasion,9,$3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,31.77

In [1715]:
most_profitable_items = most_popular_item1DF.sort_values(["Total Purchase Value"], ascending=False)

In [1716]:
most_profitable_items.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
82,Nirvana,9,$4.90,44.10
145,Fiery Glass Crusader,9,$4.58,41.22
103,Singed Scalpel,8,$4.35,34.80