In [192]:
import pandas as pd
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(1)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53

In [193]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [194]:
purchase_data.columns= ['Purchase ID', 'Players','Age','Gender','Item ID','Item Name','Price']

In [195]:
purchase_data.head()

,Purchase ID,Players,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [196]:
purchase_data = purchase_data.sort_values("Price", ascending=False)
dropped_df = purchase_data.drop_duplicates("Players").sort_index()

In [197]:
dropped_df.head()

   Purchase ID        Players  Age Gender  Item ID          Item Name  Price
1            1    Lisovynya38   40   Male      143  Frenzied Scimitar   1.56
2            2     Ithergue48   24   Male       92       Final Critic   4.88
3            3  Chamassasya86   24   Male      100        Blindscythe   3.27
4            4      Iskosia90   23   Male      131               Fury   1.44
5            5        Yalae81   22   Male       81          Dreamkiss   3.61

In [198]:
players = len(dropped_df['Players'])

In [199]:
players

576

In [200]:
total_playerDF = pd.DataFrame({"Total Players": [players]})

In [201]:
total_playerDF.head()

   Total Players
0            576

In [202]:
purchase_data = purchase_data.sort_values("Price", ascending=False)
dropped_itemdf = purchase_data.drop_duplicates("Item Name").sort_index()

In [203]:
dropped_itemdf.head()

,Purchase ID,Players,Age,Gender,Item ID,Item Name,Price
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
23,23,Eyrian71,40,Male,151,Severance,3.40
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48

In [204]:
unique_items=len(dropped_itemdf['Item Name'])

In [205]:
average_price = purchase_data["Price"].mean(axis=0)

In [206]:
average_price = float("{:.2f}".format(average_price))

In [207]:
average_price = ("${}").format(average_price)

In [208]:
total_revenue = purchase_data["Price"].sum(axis=0)

In [209]:
total_revenue = ("${}").format(total_revenue)

In [210]:
number_of_purchases = len(purchase_data['Players'])

In [211]:
unique_items=len(dropped_itemdf['Item Name'])

In [212]:
summary_data = {'Number of Unique Items':[unique_items],
                'Average Price' :[average_price],
                  'Number of Purchases' : [number_of_purchases],
                  'Total Revenue':[total_revenue]}
summary_dataDF = pd.DataFrame(summary_data)

In [213]:
summary_dataDF.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [214]:
count = dropped_df['Gender'].value_counts()

In [215]:
count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [216]:
list(dropped_df['Gender'].value_counts())

[484, 81, 11]

In [217]:
female = list(dropped_df['Gender'].value_counts())[1]

In [218]:
male = list(dropped_df['Gender'].value_counts())[0]

In [219]:
other = list(dropped_df['Gender'].value_counts())[2]

In [220]:
#femaleDF = dropped_df[dropped_df.Gender=='Female']

In [221]:
#femaleDF.head()

In [222]:
#female = len(femaleDF['Gender'])

In [223]:

#maleDF = dropped_df[dropped_df.Gender=='Male']

In [224]:
#male = len(maleDF['Gender'])

In [225]:
#otherDF = dropped_df[dropped_df.Gender=='Other / Non-Disclosed']

In [226]:
#other = len(otherDF['Gender'])

In [227]:
#other

In [228]:
percentage_female = female/players*100

In [229]:
percentage_female = float("{:.2f}".format(percentage_female))

In [230]:
percentage_female = "{}%".format(percentage_female)

In [231]:
percentage_female

'14.06%'

In [232]:
percentage_male = male/players*100

In [233]:
percentage_male = float("{:.2f}".format(percentage_male))

In [234]:
percentage_male = "{}%".format(percentage_male)

In [235]:
percentage_male

'84.03%'

In [242]:
percentage_other =other/players*100

In [243]:
percentage_other = float("{:.2f}".format(percentage_other))

In [244]:
percentage_other = "{}%".format(percentage_other)

In [245]:
percentage_other

'1.91%'

In [246]:
gender_demographicsDF = pd. DataFrame({'Total Count' :count, "Percentage of Players" :[percentage_male,percentage_female,percentage_other]})

In [247]:
gender_demographicsDF.head()

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%